*{
  -moz-outline-style: none; /* For Firefox */
  -webkit-tap-highlight-color: transparent; /* For WebKit/Blink-based browsers */

}

html,body {
  outline-color: #000b1f;
  height: 94%;
  margin: 0;
  user-select: none;
  }
  a{
  text-decoration: none;
  color: #ffffff;
  }
body {
  outline-color: #161616;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.tab-nav-container{
  z-index: 1;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to left, #fc0161, #b201f3);
  
  box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
i {
  margin-right: 5px;
}
.tab{
  z-index: 9;
  color: rgb(255, 255, 255);

  border-radius:50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 16px 20px;
  margin: 0 10px;
  font-size: 1em;
  box-shadow: none;
}
.tab i{
  font-size: 1.2em;
  font-weight: lighter;
}

.swal2-file-label {
  width: fit-content;
  border: none;
  padding: 0.6em 1em;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0px 5px 3px -4px #00000e;  
  background-color: #0044ff;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
}
.tab p{
  font-weight:bold;
  overflow: hidden;
  max-width:0;
}
.tab.active p{
  overflow: hidden;
}

.tab.active{
  color: #fff700;
}
.tab.active.yellow{
  background-color: rgba(230, 169, 25, 0.2);
  color: rgba(230, 169, 25, 1);
}
.tab.active.teal{
  background-color: rgba(28, 150, 162, 0.2);
  color: rgba(28, 150, 162, 1);
}
button { width: 50%;
border: none;
padding: 0.6em 1em;
border-radius: 4px;
margin: 10px 0;
background-color: #ffbf00;
box-shadow: 0px 5px 3px -4px #00000e;  
color: #ffffff;
font-size: 17px;
cursor: pointer;
  }


.gallery img{
  width: 100%;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #ffd900, #fd002a);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.container {
  width: 90%;
  height: auto;
  width: 90%;
  padding-bottom: 30px;
  color: rgb(0, 0, 0);
  padding: 0.6em 1em;
}
.head{

  z-index: 9;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, #fc0161, #b201f3);
    border: none;
    display: flex;
    position: fixed;
    box-shadow: 0px 5px 3px -4px #898989;  
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0.1em 1em;
}

.right {
  float: right;
  padding: 0em 1.5em;
}

img {
  width: 70%;
  height: auto;
}
input {
  padding: 1em 1em;
  border: none;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
  outline-color: #00a2ff;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-bottom: 8px;
}
textarea {
  padding: 1em 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
  outline-color: #0077ff;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  resize: none;
  width: 90%;
  height: 300px;
  margin-bottom: 8px;
} 
#sta {
  color: #0004ff;
  text-transform: uppercase;
}

button:disabled {
  background-color: #006de9;
}



/* CSS code for the loading spinner */
.loading {
  justify-content: center;
  display: inline-block;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: #2b00ff;
  border-radius: 90%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Hide previous and next buttons by default */
.popup-button {
  display: none;
}
 /* Add cool CSS styling here */
 .radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px; /* Added padding */
  border: 1px solid #ccc; /* Added border */
  border-radius: 5px; /* Added border radius */
}

.radio-button {
  display: none; /* Hide the default radio button */
}

.icon {
  font-size: 24px;
  color: green;
  cursor: pointer;
}

.radio-label {
  font-size: 1.3em; /* Added font size */
  color: #000000;
  cursor: pointer;
  
}

.radio-button:checked + label .icon {
  color: rgb(0, 181, 0); /* Change icon color when checked */
 
}
.radio-button:checked, .c {
  border: 2px solid #0004ff;
}

.radio-button:disabled + label, .icon {
  color: #ccc; /* Change icon color when disabled */
  cursor: not-allowed;
}
button {
  width: 90%;
  border: none;
  padding: 0.6em 1em;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0px 5px 3px -4px #888888;  
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button, button::after {
   /*Make sure the animation is over the whole element*/

  -webkit-animation-name: ShineAnimation;
  -webkit-animation-duration: 5s;
  
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);
}

@-webkit-keyframes ShineAnimation{
  from {
      background-repeat:no-repeat;
      background-image:-webkit-linear-gradient(
          top left,
          rgba(255, 255, 255, 0.0) 0%,
          rgba(255, 255, 255, 0.0) 45%,
          rgba(255, 255, 255, 0.5) 48%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba(255, 255, 255, 0.5) 52%,
          rgba(255, 255, 255, 0.0) 57%,
          rgba(255, 255, 255, 0.0) 100%
      );
      background-position:-250px -250px;
      background-size: 250px 250px
  }
  to {
      background-repeat:no-repeat;
      background-position:250px 250px;
  }
}


.so {
  width: 96%;
  font-size: 14px;
  padding: 0.em 1em;
  justify-content: space-around;
  display: flex;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #fc01e7, #9a01f3);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to left, #fcb901, #d3f301);
  box-shadow: 0px 5px 3px -4px #888888; 
  color: rgb(255, 0, 81);
}

.tabw {
  max-width: 24%;
  margin-top: 3px;
  margin-bottom: 3px;
}
.tabw i {
  margin-top: 8px;
  font-size: 24px;
}
.tabw>i:nth-child(0) {
  color: #0040ff;
}
.tabw:nth-child(1) {
  color: #0051ff;
}
.tabw:nth-child(2) {
  color: #c300ff;
}
.tabw:nth-child(3) {
  color: #ff008c;
  /* margin-top: 8px;
  font-size: 24px; */
}
.tabw:nth-child(4) {
  color: #00ba0c;
  /* margin-top: 8px;
  font-size: 24px; */
}
.tabw p{
  color: black;
}
.soj {
  border: 3px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #fc01e7, #9a01f3);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  width: 90%;
  font-size: 14px;
  border-top: 1px solid rgb(0, 0, 0);
  padding: 0.6em 1em;
  justify-content: space-between;
  color: black;
  background-color: white;
  box-shadow: 0px 5px 3px -4px #888888; 
  color: rgb(0, 0, 0);
}
.service img {
  min-width: 100%;
  min-height: 100px;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}
.bx-cart {
  width: 90%;
}
